.menu{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgb(140,140,140);
    width: 200px;
    min-width: max-content;
    height: calc(100vh - 128px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.menu-btnr{
    display: flex;
    flex-direction: column;
}
.menu-btnr a{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    
}
.menu-btnr a:hover{
    background-color: rgb(185,185,185);
    color: var(--vino);
}
.active{
    color: var(--vino);
}

.container{
    padding: 20px;
    background-color: rgb(175,175,175);
    width: 100vw;
    min-height: calc(100vh - 148px);
    border: none;
    border-top: 1px solid rgb(140,140,140);
    border-left: 1px solid rgb(140,140,140);
}

/*Pagina de busqueda*/
#searchIn{
    width: 200px;
    outline: none;
    font-family: Consolas;
    padding: 5px;
    border: 1px solid rgb(100,100,100);
    border-right: transparent;
    background-color: transparent;
    border-radius: 7px 0px 0px 7px;
    color: var(--vino);
    font-weight: bold;
}
#searchIn:hover::placeholder{
    color: var(--vino);
}
#searchBtn{
    outline: none;
    font-family: Consolas;
    background-color: transparent;
    transform: translate(-5px);
    border: 1px solid var(--vino);
    border-radius: 0px 7px 7px 0px;
    width: 28px;
    font-weight: bolder;
    padding: 5px;
    color: var(--vino);
}
#searchBtn:hover{
    color: white;
    background-color: var(--vino);
}

.card{
    margin-top: 15px;
    width: 75%;
    border: 1px solid black;
}