
.calendar-container {
  background: #333333;      
  color: #fff;               
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  margin: auto;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.4);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.month-nav {
  background-color: #ddd;
  border: 1px solid #333;
  color: #800000;
  cursor: pointer;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 0px; 
  width: 100px;      
  transition: 0.2s;
}

.month-nav:hover {
  background-color: #bbb;
}


#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  background: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 4px;
}


.calendar-day.prestamo {
  background: green;
  color: #fff;
}
.calendar-day.devolucion {
  background: red;
  color: #fff;
}
.calendar-day.multa {
  background: yellow;
  color: #000;
}
.calendar-day.nada {
  background: white;
  color: #000;
}

/* ===== LEYENDA ===== */
.calendar-legend {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  font-size: 14px;
}

.legend-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid #333;
}

.legend-box.prestamo { background: green; }
.legend-box.devolucion { background: red; }
.legend-box.multa { background: yellow; }
.legend-box.nada { background: white; }
